<body>
    <%- include('../headers/mobile.ejs')%>
    <%- include('../headers/desktop.ejs')%>
    <%- include('./csprojcontent.ejs')%>
    <%- include('../utility/guidelines.ejs')%>
    <%- include('../../../scripts/MazeBuilder/mazebuilder.ejs')%>
    <%- include('../../../scripts/csprojanimations.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>