<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%- include('../pageheader.ejs')%>
    <%- include('./csprojcontent.ejs')%>
    <%- include('../../../scripts/MazeBuilder/mazebuilder.ejs')%>
    <%- include('../../../scripts/MazeBuilder/mazeanimations.ejs')%>
    <%- include('../../../scripts/Calculator/calculatoranimations.ejs')%>
    <%- include('../../../scripts/projectanimations.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>