<body>
    <%- include('../headers/mobile.ejs')%>
    <%- include('./csprojcontent.ejs')%>
    <%- include('../utility/guidelines.ejs')%>
    <%- include('../../../scripts/MazeBuilder/mazebuilder.ejs')%>
    <%- include('../../../scripts/MazeBuilder/mazeanimations.ejs')%>
    <%- include('../../../scripts/Calculator/calculatoranimations.ejs')%>
    <%- include('../../../scripts/pictureanimations.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>