<body>
    <%- include('../headers/mobile.ejs')%>
    <%- include('./contactcontent.ejs')%>
    <%- include('../utility/guidelines.ejs')%>
    <%- include('../../../scripts/contactanimations.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>