<p id="Username-Hidden"><%= user %> </p>
<main>
    <div id="Chat-Window">
        <div id="Chat-Content-Grid">
            <div id="Messages-Wrapper">
                <% if(messages.length > 0) {%>
                    <% messages.forEach(message => {%>
                        <% if(message.sender == user) {%>
                            <div class="message-div self" id="<%= message._id %>">
                                <p class="user-name self"><%= message.sender %></p>
                                <p class="sent-message-format self"><%= message.content %></p>
                            </div>
                        <% }else{ %>
                            <div class="message-div other" id="<%= message._id %>">
                                <p class="user-name other"><%= message.sender %></p>
                                <p class="sent-message-format other"><%= message.content %></p>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %> 
            </div>
            <div id="New-Message-Strip">
                <div id="New-Message-Wrapper" spellcheck="true" contenteditable="true" style="user-select: text;" role="text">
                    <p id="New-Message" style="user-select: text; white-space: pre-wrap; word-break: break-word;" ghost-text="Enter Message"></p>
                </div>
                <div id="Send-Message-Button" onclick="sendMessage(userName);"></div>
            </div>
        </div>
    </div>
</main>